/* Global */
:root {
    --level_0: rgb(255, 255, 255);
    --level_1: rgb(255, 228, 248);
    --level_2: rgb(255, 199, 242);
    --level_3: rgb(255, 171, 236);
    --level_4: rgb(255, 142, 230);
    --level_5: rgb(255, 114, 224);
    --level_6: rgb(255, 85, 218);
    --level_7: rgb(255, 57, 212);
    --level_8: rgb(255, 28, 206);
    --level_9: rgb(255, 0, 200);
}


* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    user-select: none;
}

body {
    background-color: var(--level_0);
}
/* Backgound Video */

.video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
    z-index: -1;
}

.video-container video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%; 
    min-height: 100%; 
  
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
  
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* Navigation Bar */

#nav {
    height: 50px;
    border-radius: 0 0 20px 20px;
    background: linear-gradient(to bottom, var(--level_5), var(--level_9));
    box-shadow: 0px 8px 27px 0px rgba(0,0,0,0.8);
}

#nav_ul{
    margin-left: 20px;
    height: 50px;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    align-items: center;
}

#nav_ul li {
    margin: 15px;
    font-size: 1.18em;
    font-weight: bold;
    cursor: pointer;
}

#nav_ul li a {
    color: var(--level_1);
}

/* Footer */

footer{
    position: fixed;
    top: calc(100vh - 70px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: var(--level_2);
}

#copyright{
    margin-top: 4px;
    font-size: 0.6em;
    color:rgb(149, 149, 149);
}

.legal{
    font-size: 0.5em;
    color:rgb(85, 85, 85);
}

#vl{
    font-size: 0.5em;
    color:rgb(85, 85, 85);
}

/* Start Page */

#heading-start, #heading-video {
    top: 18%;
    width: 100vw;
    color: var(--level_9);
    position: fixed;
    font-size: 3.5em;
    font-weight: 900;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

#option_body {
    position: absolute;
    top: 42%;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    height: calc(var(--w_height) - 180px);
    align-items: center;
    justify-content:space-evenly;
}

.option {
    height: 250px;
    width: 250px;
    background-color: var(--level_0);
    border: 15px solid var(--level_2);
    border-radius: 40px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.option:hover{
    border: 15px solid var(--level_4);
    -webkit-box-shadow: 0px 25px 47px 0px rgba(0,0,0,0.93);
    -moz-box-shadow: 0px 25px 47px 0px rgba(0,0,0,0.93);
    box-shadow: 0px 25px 47px 0px rgba(0,0,0,0.93);
    transform: scale(1.1);
}

#option_video > img{
    margin-left: 35px;
    width: 180px;
}

#option_playlist > img{
    margin: 25px;
    width: 200px;
}

#option_body p{
    color: var(--level_8);
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    font-weight: bold;
    width: 250px;
    text-align: center;
}

/* Video Page */

#heading-video{
    top: 28%;
}

#get_vid_link{
    position: fixed;
    top: 45%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#get_vid_link input{
    border: 9px solid var(--level_2);
    border-radius: 18px;
    width: 50vw;
    height: 35px;
    font-size: 1.25em;
    padding-left: 11px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    -webkit-box-shadow: 0px 9px 25px -5px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 9px 25px -5px rgba(0,0,0,0.8);
    box-shadow: 0px 9px 25px -5px rgba(0,0,0,0.8);
    transition-duration: 0.3s;
}

#get_vid_link input:focus{
    outline: none;
    border: 9px solid var(--level_5);
}

#get_vid_link input::placeholder{
    color: rgb(198, 198, 198);
}

@keyframes shake {
    0% { border: 9px solid var(--level_2); transform: scale(1); }
    30% { border: 9px solid rgb(255, 69, 69); transform: scale(1.25); }
    100% { border: 9px solid var(--level_2); transform: scale(1); }
}

.shake {
    animation-name: shake;
    animation-duration: 1s;
    transform-origin: 50% 50%;
    animation-iteration-count: 1;
}

#get_vid_link button{
    position: fixed;
    top: 58%;
    border-radius: 25px;
    background-color: var(--level_0);
    color: var(--level_4);
    font-size: 1.02em;
    font-weight: bold;
    border: 3px solid var(--level_4);
    height: 50px;
    width: 140px;
    transition-duration: 0.2s;
    cursor: pointer;
}

#get_vid_link button:hover{
    background-color: var(--level_3);
    color: white;
    border: 5px solid white;
    -webkit-box-shadow: 0px 9px 25px -5px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 9px 25px -5px rgba(0,0,0,0.8);
    box-shadow: 0px 9px 25px -5px rgba(0,0,0,0.8);
}

/* Video Streams Page */

#stream_page{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#video_face{
    padding: 10px;
    margin-top: 130px;
    background-color: var(--level_2);
    border-radius: 20px;
    border: 1px solid rgb(255, 153, 201);
    width: 300px;
    -webkit-box-shadow: 0px 10px 38px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 38px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 38px -10px rgba(0,0,0,0.75);
}

#video_face img{
    border-radius: 15px;
}

#video_title, #video_length {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.1em;
}



#stream_form{
    margin-left: 80px;
    margin-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#stream_form > div{
    display: flex;
    justify-content: center;
}

#stream_form > div > div{
    margin-left: 30px;
}

#stream_form h3{
    text-align: center;
    margin-bottom: 18px;
}

#stream tr{
    background-color: rgb(255, 209, 200);
    display:flex;
    align-items: center;
    height: 35px;
    margin-bottom: 7px;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.3s;
}

#stream tr:hover{
    background-color: rgb(255, 209, 200);
    transform: scale(1.08);
}

#stream td, th{
    padding-top: 1px;
    text-align: center;
    width: 75px;
}

#stream_form .check{
    width: 20px;
    margin-left: 15px;
}

#stream_form .warn{
    margin-left: 15px;
    width: 20px;
}

#stream_form .size{
    width: 150px;
}

#stream_form button{
    margin-left: 30px;
    margin-top: 40px;
    border-radius: 15px;
    background-color: white;
    color: rgb(255, 154, 200);
    font-size: 1em;
    font-weight: bold;
    border: 3px solid rgb(255, 154, 200);
    height: 35px;
    width: 140px;
    transition-duration: 0.2s;
    cursor: pointer;
}

#stream_form button:hover{
    background-color: rgb(255, 153, 201);
    color: white;
    border: 5px solid white;
    -webkit-box-shadow: 0px 9px 25px -5px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 9px 25px -5px rgba(0,0,0,0.8);
    box-shadow: 0px 9px 25px -5px rgba(0,0,0,0.8);
}


#warning {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}


/* Download */

#dnld{
    height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center;
}