{% extends 'base.html' %} {% block head %}
<title>Get Video</title>
{% endblock head %} {% block body %}
<p id="heading-video">Enter the YouTube Link of the Video</p>
<script>
  function checker() {
    link = document.getElementById("link");
    if (link.value.length == 0) {
      link.classList.remove("shake");
      void link.offsetWidth;
      link.classList.add("shake");
      return false;
    }
    return true;
  }
</script>
<form
  id="get_vid_link"
  action="/video"
  method="post"
  onsubmit="return checker()"
>
  <input
    type="text"
    name="link"
    id="link"
    placeholder="Example https://www.youtube.com/watch?v=FMNC-XKWQBE"
  />
  <button type="submit">Get Video</button>
</form>

{% if warn == True %}
<div id="bad_link">
  <p>Entered URL is invalid or Video not Found</p>
</div>
{% endif %} {% endblock body %}
