{% extends 'base.html' %} {% block head %}
<title>Choose Video Quality</title>
{% endblock head %} {% block body %}
<div id="video_stream_page">
  <div id="video_stream_face">
    <div id="video_stream_thumbnail">
      <img src="{{ thumb }}" alt="Thumbnail" width="300px" />
    </div>
    <div id="video_stream_title">{{ title }}</div>
    <div id="video_stream_length">Duration : {{ duration }}</div>
  </div>

  <script>
    function myfun(val) {
      obj = document.getElementById(val);
      obj.checked = true;
    }
  </script>

  <form id="video_stream_form" action="/video_streams" method="post">
    <div>
      <div>
        <h3>Avaliable Video Streams</h3>
        <table id="video_stream_videos" class="video_streams">
          <tr>
            <th class="check"></th>
            <th class="warn"></th>
            <th>Format</th>
            <th>Quality</th>
            <th class="size">Size</th>
          </tr>
          {% for s in streams %} {% if s[1] == "v" or s[1] == "u" %}
          <tr onclick="myfun('video_stream_{{s[0]}}')">
            <td class="check">
              <input
                id="video_stream_{{s[0]}}"
                type="radio"
                name="stream_choice"
                value="{{ s[0] }}"
              />
            </td>
            <td class="warn">
              {% if s[1] == "u" %}
              <img
                src="{{ url_for('static', filename='assets/warn.png') }}"
                alt="warn"
                width="20px"
              />
              {% endif %}
            </td>
            <td>{{ s[2] }}</td>
            <td>{{ s[3] }}</td>
            <td class="size">{{ s[4] }}</td>
          </tr>
          {% endif %} {% endfor %}
        </table>
      </div>
      <div>
        <h3>Avaliable Audio Streams</h3>
        <table id="video_stream_audios" class="video_streams">
          <tr>
            <th class="check"></th>
            <th>Format</th>
            <th>Quality</th>
            <th class="size">Size</th>
          </tr>
          {% for s in streams %} {% if s[1] == "a" %}
          <tr onclick="myfun('video_stream_{{s[0]}}')">
            <td class="check">
              <input
                id="video_stream_{{ s[0] }}"
                type="radio"
                name="stream_choice"
                value="{{ s[0] }}"
              />
            </td>
            <td>{{ s[2] }}</td>
            <td>{{ s[3] }}</td>
            <td class="size">{{ s[4] }}</td>
          </tr>
          {% endif %} {% endfor %}
        </table>
      </div>
    </div>
    <button type="submit">Download</button>
  </form>
</div>

<div id="video_stream_warning">
  <img
    src="{{ url_for('static', filename='assets/warn.png') }}"
    alt="warn"
    width="20px"
  />
  <pre>
For these streams, we need to merge visual and audio streams avaliable.
</pre
  >
</div>
{% endblock body %}
