{% extends 'base.html' %} {% block head %}
<title>Enter Video Link</title>
{% endblock head %} {% block body %}
<p id="video_link_heading">Enter the YouTube Link of the Video</p>
<script>
  function checker() {
    link = document.getElementById("video_link_input");
    if (link.value.length == 0) {
      link.classList.remove("shake");
      void link.offsetWidth;
      link.classList.add("shake");
      return false;
    }
    return true;
  }
</script>
<form
  id="video_link_form"
  class="link_form"
  action="/video_link"
  method="post"
  onsubmit="return checker()"
>
  <input
    id="video_link_input"
    type="text"
    name="video_link"
    placeholder="Example https://www.youtube.com/watch?v=FMNC-XKWQBE"
  />
  <button type="submit">Get Video</button>
</form>

{% if warn == True %}
<div id="video_link_error" claass="link_error">
  <p>Entered URL is invalid or Video not Found</p>
</div>
{% endif %} {% endblock body %}
